/*------------------------------------
Pricing
------------------------------------*/

.pricing-area {
    margin-bottom: 50px;
    .pricing-packages {
        .package {
            box-shadow: 0px 5px 20px 0px rgba(58, 167, 254, 0.25);
            margin-bottom: -50px;
        }
    }
}

.pricing-packages {
    float: left;
    width: 100%;
}

.package {
    overflow: hidden;
    background-color: #ffffff;
    transition: all 0.3s ease;
    .package-header {
        text-align: center;
        padding: 24px 30px;
        font-family: $headingFont;
        .pack-name {
            margin: 0;
            color: $baseFontColor;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            color: #505050;
        }
    }
    .pack-price {
        text-align: center;
        padding: 0 30px;
        font-size: 48px;
        line-height: 1;
        font-weight: 600;
        font-family: $headingFont;
        margin-top: 15px;
        margin-bottom: 5px;
        color: #222;
    }
    .pack-feature-list {
        list-style: none;
        margin: 0;
        margin-top: 45px;
        padding: 0 30px;
        text-align: center;
        line-height: 35px;
        color: $baseFontColor;
    }
    .pack-footer {
        padding: 30px 0 40px 0;
        text-align: center;
        .btn {
            border: 1px solid #e6e6e6;
            padding: 5px 25px;
            &:hover {
                background-image: linear-gradient( 90deg, rgb(58, 166, 254) 0%, rgb(73, 222, 255) 100%);
            }
        }
    }
    &:hover,
    &.active {
        box-shadow: 0px 5px 20px 0px rgba(58, 167, 254, 0.25);
        .pack-price {
            background-image: -webkit-linear-gradient(left, #00aff0, #99dff9);
            background-image: -o-linear-gradient(left, #00aff0, #99dff9);
            background-image: linear-gradient(to right, #00aff0, #99dff9);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
        .pack-footer {
            .btn {
                background-image: linear-gradient( 90deg, rgb(58, 166, 254) 0%, rgb(73, 222, 255) 100%);
                color: #ffffff;
            }
        }
    }
}
