/*------------------------------------
Buttons
------------------------------------*/
.btn {
    font-family: $headingFont;
    border-radius: 24px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #505050;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #fff;
    padding: 10px 37px;
    border: none;
    transition: all 0.3s ease;
    &:hover {
        background-image: linear-gradient( 90deg, rgb(58,166,254) 0%, rgb(73,222,255) 100%);
    }
    &:focus, 
    &:active {
        outline: none !important;
    }
    &.transparent {
        background-color: transparent;
        border: 1px solid #fff;
        padding: 9px 37px;
        &.hover {
            background-color: #fff;
            color: #222;
        }
    }
    &.btn-active {
        background-color: #fff;
        border-color: #fff;
        box-shadow: none;
        color: #505050;
    }
    &.white-btn {
        background-color: #fff;
        border: none;
    }
}
.btn-2 {
    background-color: $primaryColor;
    border: none;
    color: #fff;
    &:hover {
        color: #fff;
    }
}
.btn-gradient {
    background-image: linear-gradient( 90deg, rgb(58,166,254) 0%, rgb(73,222,255) 100%);
    &:hover{
        background-image: linear-gradient( 90deg, rgb(58,166,254) 0%, rgb(58,166,254) 100%);
    }
}