/*------------------------------------
Coverage
------------------------------------*/

.coverage-area {
	text-align: center;
	.coverage-title {
		font-weight: 400;
		font-size: 36px;
	}
	.coverage-area-map {
		margin-top: 60px;
	}
}