/*------------------------------------
Page
------------------------------------*/

.page-header {
	background-image: linear-gradient( 90deg, rgb(58,166,254) 0%, rgb(73,222,255) 100%);
	margin: 0;
	padding: 270px 0 130px;
	text-align: center;
	.page-title {
		font-size: 40px;
		line-height: 45px;
		color: #fff;
		margin-top: 0;
	}
	.breadcrumb {
	    background-color: transparent;
	    padding: 0;
	    margin: 15px 0 0;
	    border-radius: 0;
	    li {
		    color: #ffffff;
		    font-family: $headingFont;
		    font-size: 14px;
		    font-weight: 400;
		    a {
		    	color: #fff;
		    }
		}
	}
}