<!doctype html>
<html>
<head>
    <title>PriceBeater Bullhorn</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top:80px;
            word-wrap:break-word;
        }

        textarea {
            margin-left: 10px;
            width: 154px;
            vertical-align: middle;
        }

        select {
            width: 122px;
            vertical-align: middle;
        }

        label {
            width: 122px;
            vertical-align: middle;
        }

        input {
            margin-left: 10px;
        }

        input[type="file"] {
            display: inline;
        }
    </style>
    <script src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-bullhorn"></span> Bullhorn</h1>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="form">
                <!-- <textarea id="txt-content" name="txt-content" placeholder="Share something here!"></textarea> -->
                <br><br>
                <div id="actions">
                    <% if (user.twitter.token) { %>
                        <input type="checkbox" id="sns-twitter" name="sns-twitter" checked="checked">
                        <label for="sns-twitter"> Twitter </label>
                    <% } %>
                    <% if (user.tumblr.token) { %>
                        <input type="checkbox" id="sns-tumblr" name="sns-tumblr" checked="checked">
                        <label for="sns-tumblr"> Tumblr </label>
                    <% } %>
                    <% if (user.facebook.token && !expired.facebook) { %>
                        <input type="checkbox" id="sns-facebook" name="sns-facebook" checked="checked">
                        <label for="sns-facebook"> Facebook </label>
                    <% } %>
                    <% if (expired.facebook) { %>
                        <a href="/connect/facebook" class="btn btn-danger">Refresh Facebook token</a>
                    <% } %>
                    <% if (0) { %>
                        <input type="checkbox" id="sns-pinterest" name="sns-pinterest" checked="checked">
                        <label for="sns-pinterest"> Pinterest </label>
                    <% } %>
                    <% if (user.renren.token) { %>
                        <input type="checkbox" id="sns-renren" name="sns-renren" checked="checked">
                        <label for="sns-renren"> Renren </label>
                    <% } %>
                    <% if (user.weibo.token && !expired.weibo) { %>
                        <input type="checkbox" id="sns-weibo" name="sns-weibo" checked="checked">
                        <label for="sns-weibo"> Weibo </label>
                    <% } %>
                    <% if (expired.weibo) { %>
                        <a href="/connect/weibo" class="btn btn-danger">Refresh Weibo token</a>
                    <% } %>
                        <br/>
                        <label for="product_name"> Product Name </label>                        
                        <input id="product_name" name="product_name"><br/>

                        <label for="model_number"> Model Number</label>                        
                        <input id="model_number" name="model_number"><br/>
                        
                        <label for="current_price"> Current Price </label>                        
                        <input id="current_price" name="current_price"><br/>
                        
                        <label for="seller"> Seller </label>                        
                        <input id="seller" name="seller"><br/>
                        
                        <label for="pb_url"> Pb Url </label>                        
                        <input id="pb_url" name="pb_url"><br/>

                        <select id="dis" name="dis">
                            <option value="dis_percentage">Dis Percentage</option>
                            <option value="dis_amount">Dis Amount</option>
                        </select>
                        <input id="dis_percentage" name="dis_percentage">
                        <input id="dis_amount" name="dis_amount" hidden>
                        <br/>

                        <input type="checkbox" id="lowest_price" name="lowest_price" checked="checked">
                        <label for="sns-tumblr"> Lowest Price </label>        
                        <br/>
                        
                        <div id="lowest_infor" hidden>
                        <label for="sns-tumblr"> Lowest Difference </label> 
                        <input type="text" id="lowest_difference" name="lowest_difference">
                        <br/>

                        <label for="lowest_time"> Lowest Time </label>    
                        <input type="text" id="lowest_time" name="lowest_time"><br/>
                        </div>
                        
                        <label for="product_desc"> Product Desc </label>
                        <textarea id="product_desc" name="product_desc"></textarea><br/>

                        <label for="product_image"> Product Image </label>
                        <input name="img-0" type="file" class="file-input">
                        <br/>

                        <label for="custom_tag"> Custom Tag </label>      
                        <input type="text" id="custom_tag" name="custom_tag"><br/>

                    <!-- <button id="btn-pin" type="button">Pinterest</button> -->
                    <span id='txt-count'></span>
                    <button id="btn-shout" type="button">Shout</button>
                </div>
                <br>
<!--                 <div id="files">
                    <input name="img-0" type="file" class="file-input">
                </div> -->
            </div>
        </div>
    </div>

</div>
<script>
    var count = function() {
        // var content     = $('#txt-content').val();
        var content     = $('#txt-content').val() || '';
        var filesInputs = $('.file-input');
        var filesCount  = 0;
        var tinyLength  = 24;
        for (var i = 0; i < filesInputs.length; i++) {
            filesCount += $(filesInputs[i]).val().length > 0 ? 1 : 0;
        }
        var arrContent  = content.split(' ');
        var disCount    = 0;
        // http://daringfireball.net/2010/07/improved_regex_for_matching_urls
        for (i = 0; i < arrContent.length; i++) {
            if (arrContent[i] && arrContent[i].length > 0
             && /\b((?:[a-z][\w-]+:(?:\/{1,3}|[a-z0-9%])|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}\/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))/i.test(arrContent[i])) {
                disCount += arrContent[i].length - tinyLength;
            }
        }
        var length = 140 - (content.length + filesCount * tinyLength - disCount);
        $('#txt-count').html(length);
        var twitter = $('#sns-twitter');
        var weibo   = $('#sns-weibo');
        if ((twitter && twitter[0] && twitter[0].checked)
         || (weibo   && weibo[0]   && weibo[0].checked)) {
            $('#txt-count').show();
            $('#btn-shout').attr('disabled', length < 0);
        } else {
            $('#txt-count').hide();
            $('#btn-shout').attr('disabled', false);
        }
    };

    $('#files').on('change', '.file-input', function() {
        var filesInputs = $('.file-input');
        var needToAdd   = true;
        var maxId       = 0;
        for (var i = 0; i < filesInputs.length; i++) {
            if (!$(filesInputs[i]).val().length) {
                needToAdd = false;
            }
            var curId = parseInt(filesInputs[i].name.replace(/^img\-/, ''));
            maxId = curId > maxId ? curId : maxId;
        }
        if (needToAdd) {
            $('#files').append('<input name="img-' + (++maxId) + '" type="file" class="file-input">');
        }
        count();
    });

    $('#btn-shout').on('click', function() {
        var data = new FormData();
        var snsCheckBox = $('[name^=sns-]');
        var filesInputs = $('.file-input');

        data.append('product_name', $('#product_name').val());
        data.append('model_number', $('#model_number').val());
        data.append('current_price', $('#current_price').val());
        data.append('seller', $('#seller').val());
        data.append('pb_url', $('#pb_url').val());
        data.append('dis_percentage', $('#dis_percentage').val());
        data.append('dis_amount', $('#dis_amount').val());
        data.append('lowest_price', $('#lowest_price').is(':checked') ? 'on' : 'off');
        data.append('lowest_difference', $('#lowest_difference').val());
        data.append('lowest_time', $('#lowest_time').val());
        data.append('product_desc', $('#product_desc').val());
        data.append('custom_tag', $('#custom_tag').val());
        // data.append('txt-content', $('#txt-content').val());
        
        for (var i = 0; i < snsCheckBox.length; i++) {
            data.append(snsCheckBox[i].name, snsCheckBox[i].checked ? snsCheckBox[i].value : '');
        }
        
        for (i = 0; i < filesInputs.length; i++) {
            if ($(filesInputs[i]).val().length > 0) {
                data.append(filesInputs[i].name, filesInputs[i].files[0]);
            }
        }
        
        $.ajax({
            url: '/shout',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(data) {
                if (!data || data.error) {
                    alert(data.error);
                    return;
                }
                alert('OK!');
            }
        });
    });

    $('#btn-pin').on('click', function() {
        var data = new FormData();
        var filesInputs = $('.file-input');
        var content     = $('#txt-content').val();
        data.append('txt-content', content);
        for (i = 0; i < filesInputs.length; i++) {
            if ($(filesInputs[i]).val().length > 0) {
                data.append(filesInputs[i].name, filesInputs[i].files[0]);
            }
        }
        $.ajax({
            url: '/pin',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(data) {
                if (!data || data.error) {
                    alert(data.error);
                    return;
                }
                window.location.href = 'http://www.pinterest.com/pin/create/button/'
                                     + '?url='         + encodeURIComponent(data.data[0])
                                     + '&media='       + encodeURIComponent(data.data[0])
                                     + '&description=' + encodeURIComponent(content);
            }
        });
    });

    $('#dis').on('change', function() {
        $('#dis_percentage').hide();
        $('#dis_amount').hide();
        $('#'+this.value).show();
    });

    $('#lowest_price').on('change', function() {
        if ($('#lowest_price').is(':checked')) {
            $('#lowest_infor').hide();
            $('#lowest_time').val('');
            $('#lowest_difference').val('');
        } else {
            $('#lowest_infor').show();
        }

    });

    $('#txt-content').on('input', count);

    $('[name^=sns-]').on('click', count);

    count();

</script>
</body>
</html>
