<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Site information -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Example SaaS</title>
	<meta name="description" content="Example SaaS Description">

	<!-- External CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/css/owl.transitions.css">
	<link rel="stylesheet" href="/assets/css/slick.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/servicebot-embeds.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="/images/favicon.png">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/icon-114x114.png">

	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-default " data-spy="affix" data-offset-top="60">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">#Example SaaS</a>
		</div>

		<div class="collapse navbar-collapse " id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="pricing">Example Pricing</a></li>
				<li class="solid-item"><a class="btn btn-gradient" href="login">Test Login</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- Banner -->
<div class="banner" id="banner">
	<div class="banner-item banner-item-style-2 gray-bg">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-12 text-left">
						<h1 class="banner-title"><span class="black-color">This is an example that showcases integration with </span><span class="theme-color blue"><a href="https://servicebot.io">Servicebot</a></span><span class="black-color"></span></h1>
						<p class="banner-text">You don't have to build your own SaaS pricing, checkout, login, billing and user management pages. Servicebot gives you SaaS embeddable widgets.</p>
						<form class="banner-form subscription" action="#" method="post">
							<a class="btn btn-gradient" href="pricing">Test Signup</a>
							<!--<p class="sign-in-text">You can input fake information during signup.</a></p>-->
							<div class="clearfix"></div>
							<p class="newsletter-success"></p>
							<p class="newsletter-error"></p>
						</form>
					</div>
					<div class="col-md-6 hidden-sm hidden-xs">
						<div class="banner-img">
							<img src="images/banner/slack.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Count & client-logo -->
<div class="countarea section section-padding bottom-0">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="section-header text-center">
					<h3 class="section-title">These are some example widgets that you can embed in your SaaS</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Fetures  -->
<div class="features section section-padding" id="feature">
	<div class="container">

		<div class="sub-section">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6 col-xs-12 xs-bottom-30">
					<h4 class="subsection-title">Pricing page widget</h4>
					<p class="subsection-text">Building a pricing page is a pain, and keeping it up-to-date is even worse. Servicebot generates a SaaS pricing page connected to Stripe. Embed and never worry about updating your pricing page.</p>
					<a class="btn btn-examples m-t-30" href="pricing">View Pricing Example</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 col-xs-12">
					<img class="img-responsive" src="https://uploads-ssl.webflow.com/5b510c14bde94e8045bd7062/5b8846098bcdd7f99e1eb353_Step%202-%20FULL%20V2.svg" alt=".">
				</div>
			</div>
		</div>

		<div class="sub-section">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h4 class="subsection-title">Signup & Checkout widget</h4>
					<p class="subsection-text">The simplest way for SaaS businesses to get paid. Servicebot provides embeddable signup and checkout forms. Just embed the widget in your website and start selling your SaaS.</p>
					<a class="btn btn-examples m-t-30" href="pricing">Signup Example</a>
				</div>
				<div class="col-sm-6 col-xs-12">
					<img class="img-responsive features-side-img" src="https://uploads-ssl.webflow.com/5b510c14bde94e8045bd7062/5b8d8e139562254ad508dcaa_Step%203%20-%20Full%20V3.svg" alt=".">
				</div>
			</div>
		</div>

		<div class="sub-section">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6 col-xs-12 xs-bottom-30">
					<h4 class="subsection-title">Login widget</h4>
					<p class="subsection-text">Don't waste time building your own authentication pages. Authenticate your customers and their team members to your SaaS using Servicebot embeddable login widget.</p>
					<a class="btn btn-examples m-t-30" href="login">Login Example</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 col-xs-12">
					<img class="img-responsive login" src="https://uploads-ssl.webflow.com/5b510c14bde94e8045bd7062/5ba99968bf120edf9f98a477_Sign%20Up%20embed.svg" alt=".">
				</div>
			</div>
		</div>

		<div class="sub-section">
			<div class="row">
				<div class="col-sm-5 col-xs-12">
					<h4 class="subsection-title">Billing management widget</h4>
					<p class="subsection-text">Give your customers a crystal-clear view of their billing cycle. Let them manage thier subscriptions, update their credit card, and view invoices using Servicebot billing management embeddable.</p>
					<a class="btn btn-examples m-t-30" href="login">Billing Management Example</a>
				</div>
				<div class="col-sm-7 col-xs-12">
					<img class="img-responsive features-side-img" src="https://uploads-ssl.webflow.com/5b510c14bde94e8045bd7062/5ba9a12769be1d45e9d2c240_Billing%20embed.svg" alt=".">
				</div>
			</div>
		</div>

		<div class="sub-section">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6 col-xs-12 xs-bottom-30">
					<h4 class="subsection-title">User management widget</h4>
					<p class="subsection-text">Combine your billing with user management. Easily bill your customers based on number of team members and let team members login to your SaaS using Gmail.</p>
					<a class="btn btn-examples m-t-30" href="login">Seat Management Example</a>
				</div>
				<div class="col-sm-6 col-sm-pull-6 col-xs-12">
					<img class="img-responsive seatmanagement" src="https://uploads-ssl.webflow.com/5b510c14bde94e8045bd7062/5ba99e589a5215a276b1f88f_seat%20management.svg" alt=".">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Count & client-logo -->
<div class="countarea section section-padding bottom-0">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-12">
				<div class="section-header text-center">
					<h3 class="section-title">Ready to automate your SaaS billing?</h3>
					<a class="btn btn-signup m-t-30" href="https://www.servicebot.io/sign-up" target="_blank">Try for Free</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<footer class="footer-widget section-padding gray-bg bottom-0">
	<div class="container">
		<div class="footer-widget-area">
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="widget logo-widget">
						<a class="footer-logo" href="/">
							#Example SaaS
						</a>
						<p class="copyright">© 2018. Powered by <a href="https://servicebot.io">Servicebot</a></p>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="widget custom-menu-widget">
						<h4 class="widget-title">Get Servicebot</h4>
						<ul class="widget-menu">
							<li><a href="https://www.servicebot.io/how-it-works" target="_blank">How it works</a></li>
							<li><a href="https://www.servicebot.io/pricing" target="_blank">Servicebot Pricing</a></li>
							<li><a href="https://www.servicebot.io/blog" target="_blank">Blog</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="widget custom-menu-widget">
						<h4 class="widget-title">Developer Resources</h4>
						<ul class="widget-menu">
							<li><a href="https://help.servicebot.io/" target="_blank">Help Center</a></li>
							<li><a href="https://docs.servicebot.io/checkout-embed/" target="_blank">Developer Docs</a></li>
							<li><a href="https://api-docs.servicebot.io/" target="_blank">API Reference</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="widget contact-widget">
						<h4 class="widget-title">Contact</h4>
						<ul class="widget-menu">
							<li><a href="https://www.servicebot.io/book-a-demo" target="_blank">Schedule a demo</a></li>
							<li><a href="https://www.servicebot.io/contact-us" target="_blank">Contact us</a></li>
						</ul>
						<ul class="widget-social">
							<li><a href="https://www.facebook.com/servicebot.io" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/servicebot_io" target="_blank"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Script -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery-migrate-3.0.1.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.nav.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/visible.js"></script>
<script src="/assets/js/jquery.countTo.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/slick.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
<script src="/js/map.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>
