<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Site information -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TicketR</title>
    <meta name="description" content="TicketR Description">

    <!-- External CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,800" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600" rel="stylesheet">


    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon-114x114.png">

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-default theme-bg-nav" data-spy="affix" data-offset-top="60">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/logo-white.png" alt="TicketR Logo"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="features">Features</a></li>
                <li><a href="pricing">Pricing</a></li>
                <li><a href="#faq">Faq</a></li>
                <li class="solid-item"><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header End -->

<!-- Page header -->
<div class="page-header section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Pricing Plan</h2>
            </div>
        </div>
    </div>
</div>

<!-- Pricing Table -->
<div class="pricing-page gray-bg section section-padding ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <div class="section-header text-center ">
                    <h3 class="section-title ">Packages</h3>
                    <p class="section-text ">TicketR is the easiest way for teams to track work and get results. Our Premium and Enterprise plans give you more power, control, and customization.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pricing-packages">

                <div class="col-sm-4 col-xs-12">
                    <div class="package">
                        <div class="package-header">
                            <h4 class="pack-name">Free</h4>
                        </div>
                        <div class="package-body">
                            <p class="pack-price">$0.00</p>
                            <ul class="pack-feature-list">
                                <li>Unlimited tasks, projects, and conversations</li>
                                <li>Up to 15 team members</li>
                                <li>Basic dashboards</li>
                                <li>Basic search</li>
                                <li>Private teams and projects</li>
                                <li>Start dates</li>
                            </ul>
                        </div>
                        <div class="pack-footer">
                            <a class="btn btn-primary" href="/signup?tier=Basic">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <div class="package active">
                        <div class="package-header">
                            <h4 class="pack-name">Advanced</h4>
                        </div>
                        <div class="package-body">
                            <p class="pack-price">$8.50</p>
                            <ul class="pack-feature-list">
                                <li>No team member limit</li>
                                <li>Unlimited dashboards</li>
                                <li>Advanced search & reporting</li>
                                <li>Custom fields</li>
                                <li>Task dependencies</li>
                                <li>Comment-only projects</li>
                                <li>Manage team members with advanced admin controls like service accounts and SAML.</li>
                            </ul>
                        </div>
                        <div class="pack-footer">
                            <a class="btn btn-primary" href="/signup?tier=Advanced">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <div class="package">
                        <div class="package-header">
                            <h4 class="pack-name">ENTERPRISE</h4>
                        </div>
                        <div class="package-body">
                            <p class="pack-price">Quote</p>
                            <ul class="pack-feature-list">
                                <li>Get specialized help from our customer success team, plus same day support to ensure you’re successful with TicketR.</li>
                                <li>Maintain strict control over your data and security with user provisioning and deprovisioning, data deletion, and cross-regional backups.</li>
                            </ul>
                        </div>
                        <div class="pack-footer">
                            <a class="btn btn-primary" href="/signup?tier=Enterprise">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Faq area -->
<div class="faq-area section section-padding" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-header text-center">
                    <h3 class="section-title">Questions & Answers</h3>
                    <p class="section-text">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="faq-accordion">
                    <div class="panel-group" id="faqAccordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingOne">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseOne" aria-expanded="true" aria-controls="faqCollapseOne">What is SaaS tech app?</a></h4>
                            </div>
                            <div id="faqCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faqHeadingOne">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingTwo">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseTwo" aria-expanded="false" aria-controls="faqCollapseOne"> How ut perspiciatis unde omnis?</a></h4>
                            </div>
                            <div id="faqCollapseTwo" class="panel-collapse collapse" role="tabpane1" aria-labelledby="faqHeadingTwo">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingThree">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseThree" aria-expanded="false" aria-controls="faqCollapseThree">What aute irure dolor in reprehenderit ?</a></h4>
                            </div>
                            <div id="faqCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingThree">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingFour">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseFour" aria-expanded="false" aria-controls="faqCollapseFour">Why this app?</a></h4>
                            </div>
                            <div id="faqCollapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingFour">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingFive">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion" href="#faqCollapseFive" aria-expanded="false" aria-controls="faqCollapseFive">When deserunt mollit anim est laborum?</a></h4>
                            </div>
                            <div id="faqCollapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingFive">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="faq-accordion">
                    <div class="panel-group" id="faqAccordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingOne-2">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion2" href="#faqCollapseOne-2" aria-expanded="true" aria-controls="faqCollapseOne-2">What is SaaS tech app?</a></h4>
                            </div>
                            <div id="faqCollapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faqHeadingOne-2">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingTwo-2">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion2" href="#faqCollapseTwo-2" aria-expanded="false" aria-controls="faqCollapseTwo-2"> How ut perspiciatis unde omnis?</a></h4>
                            </div>
                            <div id="faqCollapseTwo-2" class="panel-collapse collapse" role="tabpane1" aria-labelledby="faqHeadingTwo-2">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingThree-2">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion2" href="#faqCollapseThree-2" aria-expanded="false" aria-controls="faqCollapseThree-2">What aute irure dolor in reprehenderit ?</a></h4>
                            </div>
                            <div id="faqCollapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingThree-2">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingFour-2">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion2" href="#faqCollapseFour-2" aria-expanded="false" aria-controls="faqCollapseFour-2">Why this app?</a></h4>
                            </div>
                            <div id="faqCollapseFour-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingFou-2r">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="faqHeadingFive-2">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#faqAccordion2" href="#faqCollapseFive-2" aria-expanded="false" aria-controls="faqCollapseFive-2">When deserunt mollit anim est laborum?</a></h4>
                            </div>
                            <div id="faqCollapseFive-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqHeadingFive-2">
                                <div class="panel-body">
                                    When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 'Content here, content here', making it look like readable English. Many desktop publishing
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="footer-widget section-padding gray-bg bottom-0">
    <div class="container">
        <div class="footer-widget-area">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget logo-widget">
                        <a class="footer-logo" href="app-landing.html">
                            <img src="images/footer-logo.png" alt="...">
                        </a>
                        <p class="copyright">©  2018, TicketR</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget custom-menu-widget">
                        <h4 class="widget-title">Solutions</h4>
                        <ul class="widget-menu">
                            <li><a href="#">Software program</a></li>
                            <li><a href="#">Apps solutions</a></li>
                            <li><a href="#">Business analycis</a></li>
                            <li><a href="#">Plans & signuo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget custom-menu-widget">
                        <h4 class="widget-title">Company</h4>
                        <ul class="widget-menu">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Our services</a></li>
                            <li><a href="#">Our team</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Our clients</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="widget contact-widget">
                        <h4 class="widget-title">Contact</h4>
                        <p>9000 Regency Parkway, Suite 400 Cary, NC 27518</p>
                        <p><strong>E:</strong>  support@ticketr.com</p>
                        <p><strong>P:</strong>  +000 1456 6978 111</p>
                        <ul class="widget-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Script -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-migrate-3.0.1.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.nav.js"></script>
<script src="assets/js/owl.carousel.js"></script>
<script src="assets/js/visible.js"></script>
<script src="assets/js/jquery.countTo.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/slick.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
<script src="js/map.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
