/** Pricing Embed Top level Element **/
#servicebot-pricing-embed * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#servicebot-pricing-embed .servicebot-billing-type-selector {
    font-family: "Open Sans", "Arial";
}
#servicebot-pricing-embed .servicebot-billing-type-selector ul._selector {
    font-size: 13px;
    border-radius: 0;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#servicebot-pricing-embed
.servicebot-billing-type-selector
ul._selector
li._interval._selected {
    box-shadow: none;
    border-radius: 2px;
    background-color: #3aa6fe;
}
#servicebot-pricing-embed .servicebot-pricing-table {
    border-color: #3aa6fe;
    border: none;
}

#servicebot-pricing-embed .servicebot-pricing-table ._tier ._name {
    font-family: "Merriweather", "Arial";
    font-size: 20px;
    color: white;
    background-color: #3aa6fe;
}
#servicebot-pricing-embed .servicebot-pricing-table ._tier ._price {
    font-size: 40px;
    color: #3aa6fe;
}
#servicebot-pricing-embed
.servicebot-pricing-table
._tier
._price
._interval-name {
    font-size: 16px;
}
#servicebot-pricing-embed .servicebot-pricing-table ._tier ul._feature-list {
    margin-bottom: 40px;
}
#servicebot-pricing-embed
.servicebot-pricing-table
._tier
ul._feature-list
._item {
    font-size: 14px;
    font-weight: 100;
    padding: 16px 0;
}
#servicebot-pricing-embed .servicebot-pricing-table ._tier button._select-tier {
    box-shadow: none;
    color: #64dd17;
    border-color: #64dd17;
    font-size: 14px;
}

/* Sign up */
#servicebot-pricing-embed{
    position: relative;
}
#servicebot-pricing-embed .back-pricing{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    background-color: white;
    box-shadow: none;
    color: #3babfe;
    margin: 5px;
}
.servicebot--rf-embeddable.custom .rf--form-wrapper{
    border: none;
}
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .rf--form-inner ._heading-wrapper{
    background-color: #3babfe;
}
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .rf--form-inner ._heading-wrapper h2{
    color: #ffffff;
}
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .sb-form-group label,
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .sb-form-group .form-input-flex input{
    color: #222222;
}
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form button.buttons{
    background-color: #3babfe;
}
.servicebot--rf-embeddable.custom .addon-checkbox-widget-default-value-wrapper .iconToggleField{
    border-color: #3babfe;
}
.servicebot--rf-embeddable.custom .addon-checkbox-widget-default-value-wrapper .iconToggleField.active span.itf-icon,
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .rf--form-inner .rf--summary h4,
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .rf--form-inner .rf--summary .fe--base-price-value, .servicebot--rf-embeddable .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .rf--form-inner .rf--summary .fe--total-price-value,
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form .rf--form-inner .rf--summary .fe--total-price-wrapper .fe--total-price-label h5,
.servicebot--rf-embeddable.custom .rf--form-wrapper .rf--form .rf--form-content .rf--form-elements .rf--body form button._text{
    color: #3babfe !important;
}
.servicebot--rf-embeddable.custom .form-group{
    margin-bottom: 0;
}

/* Login */
#servicebot-login-form #servicebot-login-embed-container #servicebot-login-form .buttons._login, #servicebot-login-embed-container #servicebot-login-form .buttons._forgot-password-submit{
    background-color: #3babfe;
}