# .ebextensions/sensitive_files.config

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["rusty-lock"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  /etc/ssl/certs/domain.pem: 
#    mode: "000400" 
    owner: nodejs
    group: nodejs
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/rusty-lock/ssl/domain.pem