<nav class="main-menu" id="sidebar" style="margin-top:59px; position:fixed" ;>
    <ul class="">
        <li class="active" id="dashboard"><a href="#"><i class="fa fa-home fa-2x"></i><span class="nav-text">Dashboard </span></a></li>
        <!--        <li id="practisestart"><a href="#"><i class="fa fa-laptop fa-2x"></i> <span class="nav-text">Practise</span></a> </li>-->
        <li id="examstart"><a href="#"><i class="fa fa-list fa-2x"></i><span class="nav-text"> Exam Start  </span></a></li>
        <li id="examrecords"><a href="#"><i class="fa fa-folder-open fa-2x"></i><span class="nav-text">Exam Records </span></a></li>
        <li id="reports"><a href="#"><i class="fa fa-font fa-2x"></i><span class="nav-text">Report</span></a></li>
        <li id="profile"><a href="#"><i class="fa fa-table fa-2x"></i><span class="nav-text">Profile</span></a></li>
        <li id="aboutus"><a href="#"><i class="fa fa-info fa-2x"></i>  <span class="nav-text">About us </span> </a> </li>
    </ul>
</nav>


<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href=""><img src="img/online_exam4u_logo.png" alt="OES" width="200px" height="50px"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right text-center logout" id="menu-one-page-menu">
                <li class="logout"><a href="#"><i class="fa fa-power-off fa-2x"></i><span class="nav-text">Logout</span></a></li>
            </ul>
        </div>
    </div>
</nav>


<script>
    $(document).ready(function() {

        $("#dashboard").mouseup(function() {
            location.href = ('/dashboard');
        });
        //        $("#practisestart").mouseup(function() {
        //            location.href = ('/practisestart');
        //        });
        $("#examstart").mouseup(function() {
            location.href = ('/examstart');
        });
        $("#examrecords").mouseup(function() {
            location.href = ('/examrecords');
        });
        $("#reports").mouseup(function() {
            location.href = ('/reports');
        });
        $("#profile").mouseup(function() {
            location.href = ('/profile');
        });
        $("#aboutus").mouseup(function() {
            location.href = ('/aboutus');
        });
        $(".logout").mouseup(function() {
            location.href = ('/logout');
        });
    });

</script>
