<div class="row home main">
    <div class="col-sm-12">
        <form action="/share" method="post">
        <textarea name="txt-content"></textarea>
        <input name="img-0" type="file">
        <input name="img-1" type="file">
        <input name="img-2" type="file">
        <input name="img-3" type="file">
        <input name="img-4" type="file">
        <input name="img-5" type="file">
        <input name="img-6" type="file">
        <input name="img-7" type="file">
        <input name="img-8" type="file">
        <input name="img-9" type="file">
        <input type="checkbox" name="sns-twitter">Twitter
        <input type="checkbox" name="sns-facebook">Facebook
        <input type="checkbox" name="sns-pinterest">Pinterest
        <input type="checkbox" name="sns-renren">RenRen
        <input type="checkbox" name="sns-weibo">Weibo
        <br>
        <button id="btn-share" ng-click="share()" type="submit">Share</button>
        </form>
    </div>
</div>
