<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Examination System</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="css/dashboard-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</head>
<style>
    h3 {
        color: #fff;
        /*        color: #396;*/
    }
    
    #form1 {
        font-family: sans-serif;
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 20px;
    }
    
    #form1 > div {
        padding: 10px;
        border-radius: 10px;
        /*        background: #00BF96;*/
        background: #01A9DB;
        display: inline-block;
    }
    
    #form1 div > span {
        padding: 15px;
        border-radius: 10px;
        background: #00816A;
        display: inline-block;
    }

</style>




<body ng-app="myApp" ng-controller="myCtrl" onload="f1()">
    <% include sidebar/dashboard-sidebar %>


        <form id="form1" runat="server" style="margin-left:60px; margin-top:60px;">
            <div class="container text-center">
                <table width="100%" align="center">
                    <tr>
                        <td colspan="2">
                            <h3>Your time start now </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="starttime"></div>
                            <div id="endtime"></div>
                            <div id="showtime"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>




        <div class="container text-center" style="margin-left:60px; margin-top:30px; margin-right:50px;">

            <h4> your topic : {{ques.categories}} </h4>
            <h2> {{ques.question}} </h2>
            <p>
                <input type="checkbox"> {{ques.option1}}
            </p>
            <p>
                <input type="checkbox"> {{ques.option2}}
            </p>
            <p>
                <input type="checkbox"> {{ques.option3}}
            </p>
            <p>
                <input type="checkbox"> {{ques.option4}}
            </p>
            <button ng-click="nextquestion()" type="submit" class="btn btn-success"> submit</button>

        </div>


        <script>
            var app = angular.module('myApp', []);

            app.controller('myCtrl', function($scope, $http, $location) {

                var valuee = $location.url();
                var onlyvalue = valuee.slice(1);
                console.log(onlyvalue);
                var refresh = function() {
                    $http({
                        method: 'POST',
                        url: 'getarandomquestion',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                        },
                        params: {
                            categories: onlyvalue
                        }
                    }).then(function successCallback(response) {
                        if (response) {
                            console.log(response);
                            if (response.data) {
                                $scope.ques = response.data;
                                console.log(response.data);
                            }
                        } else {
                            console.log(response.data);
                        }

                    }, function errorCallback(response) {

                        console.log(response);
                    });

                }
                refresh();






                $scope.nextquestion = function(questions) {
                    console.log("clicked done");
                    refresh();




                    //score count
                    function getScore() {
                        var score = 0;
                        var numQuestions = 10;

                        for (var i = 0; i < numQuestions; i++) {
                            if (userInput[i] == answers[i]) {
                                score += 1;
                            } else {
                                score += 0;
                            }

                        }
                        return score;
                    }

                    function returnScore() {
                        alert("Your score is " + getScore() + "/10");
                    }

                    //score count



                };


            });







            //timer setup
            var tim;
            var min = 2;
            var sec = 60;
            var f = new Date();

            function f1() {
                f2();
                document.getElementById("starttime").innerHTML = "Your started your Exam at " + f.getHours() + ":" + f.getMinutes();
            }

            function f2() {
                if (parseInt(sec) > 0) {
                    sec = parseInt(sec) - 1;
                    document.getElementById("showtime").innerHTML = "Your Left Time  is :" + min + " Minutes ," + sec + " Seconds";
                    tim = setTimeout("f2()", 1000);
                } else {
                    if (parseInt(sec) == 0) {
                        min = parseInt(min) - 1;
                        if (parseInt(min) == 0) {
                            clearTimeout(tim);
                            location.href = "reports";
                        } else {
                            sec = 60;
                            document.getElementById("showtime").innerHTML = "Your Left Time  is :" + min + " Minutes ," + sec + " Seconds";
                            tim = setTimeout("f2()", 1000);
                        }
                    }

                }
            }
            //timer setup

        </script>

</body>

</html>
